body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #25344f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #617891;
    border-radius: 5px;
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
    margin-left: 10px;
    width: calc(100% - 22px);
    border: none;
    border-radius: 5px;
}

.btn-ajust {
    width: calc(100% - 42px);
    margin: 5px 0;
    margin-left: 10px;
}

button {
    background: #d5b893;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #6f4d38;
}

.project-card {
    background: #632024;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.task-card {
    background: #fff;
    color: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border-left: 6px solid #d5b893;
}

.btn-remove-task, .btn-edit-task, .btn-remove-project {
    background: transparent;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
}

footer {
    background-color: #25344f;
    color: #f4f4f4;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}

span {
    font-size: 10px;
}